# Please ignore me. I'm just here to keep RTD happy. Otherwise it gets fussy
# about c libraries.
# you're probably wanting: python setup.py install

requests
future
numpydoc
pika
buffering_smtp_handler
git+https://github.com/tparker-usgs/pysingle.git@py3/single-1.0
