# Please ignore me. I'm just here to keep RTD happy. Otherwise it gets fussy
# about c libraries.
# you're probably wanting: python setup.py install

requests
future
numpydoc
pika
buffering_smtp_handler
-e git+https://github.com/tparker-usgs/py-single.git@33a0e31e248c96967b067e1eaaebc282e3abead4#egg=single
