# Please ignore me. I'm just here to keep RTD happy. Otherwise it gets fussy
# about c libraries.
# you're probably wanting: python setup.py install

requests
future
numpydoc
pika
buffering_smtp_handler
https://github.com/tparker-usgs/py-single/tarball/py3#egg=single-1.0
